html{
    scroll-behavior: smooth ;
}

body{
    margin: 0vh;
    background-color: #E8DCCA;
  
}

.about {
    border-radius: 30px;
    border: solid;
    border-color: black;
    text-align: center;
    width: 75%;
    display: flex;
    justify-content: center;
    align-content: center;
}

.aboutAline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.glaces {
    justify-content: center;
    align-content: center;
}

.menuGlaces {
    border: solid;
    border-radius: 30%;
    border-color: black;
    text-align: center;
    width: 75%;

}

h2{
    font-family: 'Chilanka', cursive;
    font-size: 25px;
    color: #DB00CC;
    text-align: center;
}

.glacesCenter {
    justify-content: center;
    display: flex;
    align-items: center;
}

.maps {
    height: 300px;
    width: 400px;
}

.localisation {
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.nanouchka {
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0;
}

.mapsMerge {
    margin-bottom: 0;
}

.horaires {
    text-align: center;
}

.image1,
.image2,
.image3 {
    height: 400px;
    width: 400px;
    border-radius: 20%;
    border: solid;
}

.nosReal{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.real {
    justify-content: space-evenly;
}

header{
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    background-color: #E8DCCA;
    text-align: center;
}
    
#fondMenu{
    width: 100%;
    height: 50px;
    background-color: #FDDCF9;      
}

#menu{
    font-family: 'Amatic SC', cursive;
    display: flex; 
    justify-content: center;
    justify-content: space-evenly;   
    margin-top: 0;
    border-style: solid;
    border-width: 2px 0px 2px 0px;
    border-color: black;
    padding: 12px;
}

#menu li{
    display: flex;
    width: 180px;
}

#menu a{
    color: black;
    text-decoration: none;
}

h1{
    margin: 0;  
}

.sous_titre{
font-family: 'Amatic SC', cursive;
color: black;
}

.foot{
    background-color: #FDDCF9;
    display: flex;
    justify-content: space-evenly;  
    align-items: center;
    margin-top: 5vh;
    border-style: solid;
    border-width: 2px 0px 0px 0px;
    border-color: black;
}

.instagram{
    width: 10vw;  
}

.contenu{
    width: 25vw;
    text-align: center;
}

.police_amatic{
    font-family: 'Amatic SC', cursive;
    margin-top: 5vh;
}

.police_mali{
    font-family: 'Mali', cursive;
}

.facebook{
    width: 5vw;   
}

a.hypertext{
    text-decoration: none;
}

.contact{

    text-align: center;
    font-family: 'Chilanka', cursive;
}

.formulaire_flex{
    display: flex;
    justify-content: center;  
}

.field{
    width: 50vw;
    border-radius: 30px;
    margin-bottom: 10px;
    background-color:white; 
}

.formulaire_a{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
    margin-top: 10px;
}

.formulaire_b{
      
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-evenly;
}

.formulaire_c{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.form_5{
    margin-bottom: 10px;       
}

.button{
    border-radius: 30px;
}

.size{
    height: 100px;
    width: 100px;    
}

