body{
    margin: 0px;
}

header{
    font-family: 'Amatic SC', cursive;
    font-size: 40px;
    background-color: #E8DCCA;
    text-align: center;
}
    
#fondMenu{
    width: 100%;
    height: 50px;
    background-color: #FDDCF9;      
}

#menu{
    font-family: 'Mali';
    display: flex; 
    justify-content: center;
    justify-content: space-evenly;   
    margin-top: 0;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    padding: 13px;
}

#menu li{
    display: flex;
    width: 180px;
}
    
#menu a{
    color: black;
    text-decoration: none;
}   

h1 {
    margin: 0;
    
}

h2 {
    margin-bottom: 0;
}

.foot{
    height: 50vh;
    background-color: #FDDCF9;
    display: flex;
    justify-content: space-evenly;
    
    
    align-items: center;
}
.instagram{
    
    height: 25vh;
    width: 10vw;
    
}

.contenu{
    height: 40vh;
    width: 25vw;
    text-align: center;
    margin-top: 75px;
}

.police_amatic{
font-family: 'Amatic SC', cursive;
}

.police_mali{
    font-family: 'Mali', cursive;
}
.facebook{
    height: 25vh;
    width: 10vw;
   
    
}

a.hypertext{
    text-decoration: none;
}